*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background-color: #f3f3f4;
}
.app-body {
    display: flex;
    flex-direction: row;
}

.dropdown-item:hover {
    background-color: #f0f3f5;
    color: black;
}
.navbar-top .nav-item {
    list-style-type: none;
}
.navbar-top a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800px;
}
.sidebar {
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.nav {
    display: flex;
    flex-direction: column;
    background: #2f353a;
    height: 100vh;
}

.sidebar .nav-link {
    padding: 0.75em 1em;
    text-decoration: none;
    color: #fff;
    padding-left: 1em;
}
.main-content {
    margin: 20px 0 20px 20px;
    text-transform: uppercase;
    color: #fff;
}
.sidebar .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: #e4e7ea;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#icon-dashboard {
    margin-right: 10px;
    font-size: 20px;
}
.nav-link:hover {
    background-color: #20a8d8;
    color: #fff;
    transition: 0.4s ease-in;
}
.current {
    background-color: #1d2d3c !important;
    border-left: 4px solid #20a8d8;
}
.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.navbar-top {
    background-color: #fff;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    z-index: -1;
    width: 100%;
}
.content {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 330px;
}
.dashboard h1 {
    font-size: 24px;
    font-family: "Nunito", sans-serif;
}
.card {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    flex-direction: row;
}
.dash-header {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}
.dash-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    font-size: 46px;
    color: #fff;
    height: 96px;
}
#dash-icon {
    position: absolute;
    top: 10;
}
.selectbox {
    height: 100px;
    overflow-y: auto;
}
