* {
    box-sizing: border-box;
}
body {
    background-color: #f3f3f4;
}
.card {
    position: absolute;
    top: 120px;
    left: 330px;
    width: 65%;
    height: 70vh;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.login-view {
    background: url("/image/angel.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form-check,
.form-label {
    margin-left: 15px;
}
input {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid darkslategray;
    width: 80%;
}
input:focus {
    border-bottom: 2px solid red;
}

.form-control {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid darkslategray;
    width: 80%;
}
.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid red;
}
.btn-primary {
    background-color: #233849;
    border-color: #233849;
}
button {
    margin-top: 10px;
    border: none;
    width: 80%;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.overlay {
    margin-top: 100px;
    margin-left: 50px;
}

.overlay-2 {
    margin-top: 60px;
}

.alert-danger {
    width: 80%;
}
li {
    margin-left: -30px;
}
h1 {
    text-transform: uppercase;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
}

a {
    color: black;
}
a:hover {
    color: #233849;
    text-decoration: none;
}
#password-reset {
    width: 250px;
}
.overlay2 {
    margin-right: 120px;
    margin-top: 150px;
}
.overlay2 h2 {
    text-transform: uppercase;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 80px;
}
.overlay-3 {
    margin-top: 70px;
}
.email {
    width: 250px;
}

@media screen and (max-width: 575.98px) {
    .card {
        position: absolute;
        left: 50px;
    }
    .login-view {
        display: none;
    }
    .overlay {
        margin-top: 50px;
        margin-left: 50px;
    }

    .alert-danger {
        width: 80%;
    }
    li {
        margin-left: -40px;
    }
    h1 {
        text-transform: uppercase;
        line-height: 2;
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 2;
    }
}
@media (max-width: 768px) and (min-width: 768px) {
    .card {
        position: absolute;
        left: 100px;
    }
    .login-view {
        width: 90%;
    }
    .overlay {
        margin-top: 20px;
        margin-left: 0px;
    }
    h1 {
        text-transform: uppercase;
        line-height: 2;
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 2;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        width: 80%;
        position: relative;
    }
}
